.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-container img {
    width: 90%;
    height: 90%;
    padding: 5px;
    object-fit: cover;
}
.grid-container img:nth-child(even) {
    border: 5px dashed orange;
}
.grid-container img:last-child {
    grid-column: span 3;
}
.item1 {
    border: 5px solid green;
    padding: 10px;
}
.item7 {
    grid-column: 1/-1;
}